.btn{
  color: #ccc;
  text-transform: uppercase;
display:block;
border: 1px solid rgb(166, 166, 162);
border-radius: 8px;
padding: 5px;
margin: 5px;
font-weight: 400;
text-decoration: none;
}
.active{
  color: #fff;
  background-color: rgba(0,142,198,0.7);
  border: 1px solid rgba(0,142,198,0.8);
}
.categories{
  vertical-align: top;
  margin: 10px 30px 30px 10px;
  width: 300px;
  display: inline-block;
}
.controls{
  margin: 30px 30px 0px 10px;
  width:  auto;
}
.control{
  display: inline-block;
}
