.App{
  display: inline-block;
  width: 50%;
}
.quotes{
  border-radius: 8px;
border: 1px solid rgb(166, 166, 162);
margin: 10px;
padding: 10px 20px;
border: 1px solid #477aaa;
font: bold 16px/normal "Times New Roman", Times, serif;
color: rgba(0,142,198,1);
}
